
.cat-preview {
  width: 300px;
  height: 400px;
  background-color: rgb(251, 227, 189);
  border: 2px solid black;
  border-radius: 5px;
  position: relative;

  min-width: 300px;
}
.cat-preview-padding {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 0;
  margin-top: 0;

  height: 1fr;
}

.cat-preview-padding .cat-image {
  width: 230px;
  height: 160px;

  object-fit: cover;
  object-position: top;
}
.cat-id {
  width: 100%;
  display: flex;
  justify-content: center;
}
.cat-born {
  padding-left: 2px;
}

.cat-flag {
  height: 18px;
  display: inline-block;
}
.cat-country {
  display: inline-block;
}

.cat-description {
  padding-top: 10px;
  max-height: 105px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.cat-temperament {
  padding-top: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.cat-learn-more {
  position:absolute;
  bottom:5px;
}

.cat-preview-grid {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
  
  justify-content: center;
  align-items: center;

  row-gap: 40px;
  column-gap: 16px;
}