body {
  font-family: Roboto, Arial;
  background-color: rgb(255, 221, 197);
}

.content {
  margin-bottom: 20px;
  left:20px;
  right: 20px;
  background-color: rgb(255, 221, 197);
}

.loading-anim { 
  background-color: rgb(255, 221, 197);
}

#loading-border{
  width: 5rem;
  height: 5rem;
}