
body {
  font-family: Roboto, Arial;
  background-color: rgb(255, 221, 197) !important;
  margin:0;
  padding:0;
}

.content {
  padding-bottom: 30px;
  left: 20px;
  right: 20px;
}

.hide {
  display: none;
}

.loading-anim { 
  height: 1000px;
}

#loading-border{
  width: 5rem;
  height: 5rem;
  margin-top: 200px;
}