.pagelogo {
  min-width: 230px;
  height: 150px;
}

.header{
  justify-content:space-around;
  align-items: center;
  display: flex;
  top:0;
  left:0;
  right:0;
  height: 150px;

  background-color: rgb(255, 221, 197);

  font-size: 20px;
}

.header-button {
  color: white;
  box-shadow: 0 5px 5px rgba(0,0,0,0.3);
  font-weight: 500;
}